.signin {
	border: 1px solid #00759D;
	padding: 20px;
	text-align: center;
	h1 {
		font-size: 20px;
	}
	label, .button {
		float: left;
	}
	form {
		width: 205px;
		margin: 20px auto;
	}
	.field {
		margin-bottom: 10px;
	}
	.button {
		margin: 10px 0;
		display: inline-block;
		background-color: #00759D;
		color: #fff;
		border: none;
		padding: 6px 20px;
		&:hover {
			background-color: #005c7b;
		}
	}
}


 /* Remove default buttons */

 input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}